body {
	padding: 50px;
	font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
}

iframe {
	margin: 5px 0;
}

header.row {
	padding: 5px 0px;
}

#title {
	font-size: 1.5em;
}

#websites a {
	margin-left: 10px;
}

#navigation-links {
	margin-top: 20px;
	padding-left: 20px;
}

#navigation-links li {
	list-style-type: none;
	display: inline;
}

#arrow-up {
	position: fixed;
	bottom: 5px;
	left: 5px;
}

#arrow-up:hover {
	cursor: pointer;
}

#contact {
	padding-left: 60px;
}

#top:hover {
	cursor: pointer;
}

.course-code {
	font-weight: 400;
}

.fixed-top {
	position: fixed;
	top: 20px;
}

.ul {
	padding-left: 25px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}