body {
	padding: 20px;
	font: 12px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
}
#title {
	text-align: center;
}

dl{
	margin-bottom: 5px;
}

dd{
	display: block;
	width: 100%;
}

ul{
	padding-left: 0;
	list-style-type: none;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.page-header{
	margin-top: 5px;
	margin-bottom: 10px;
	padding-bottom: 3px;
}

[class*="col-"] {
    padding: 0;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    ul{
    	padding-left: 10px;
    }

	[class*="col-"] {
	    padding: 0 7px 0 7px;
	}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    ul{
    	padding-left: 20px;
    	list-style-type: disc;
    }

	[class*="col-"] {
	    padding: 0 15px 0 15px;
	}
	.hidden-md-up{
		display: none;
	}
}