extends ./layout.jade

block style
    link(rel='stylesheet', href='css/404.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Martel+Sans:600', type='text/css')

block content
  header#head
    .container
      .row
        h1.lead
          b.huge 404
          p page not found