doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='Sergey Pozhilov (GetTemplate.com)')
    title Maxwell Gerber
    link(rel='shortcut icon', href='images/coffee.png')
    link(rel='stylesheet', media='screen', href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    // Custom styles for our template
    link(rel='stylesheet', href='css/bootstrap-theme.css', media='screen')
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/contact.css')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src='js/html5shiv.js')
      script(src='js/respond.min.js')
  body.home
    // Fixed navbar
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar
        ul.nav.nav-pills.pull-left
          li.highlight2
            a(href='https://www.linkedin.com/in/maxwell-gerber-143a97b1')
              i.fa.fa-linkedin.fa-lg
          li.highlight2
            a(href='https://github.com/maxwellgerber')
              i.fa.fa-github.fa-lg
        ul.nav.nav-pills.pull-right
          li.highlight2
            a(href='index.html') Home
          li.highlight2
            a(href='resume.html') Resume
          li.highlight2
            a(href='project.html') EECS Projects
          li.highlight2
            a(href='project.html') ME Projects
          li.active
            a(href='#') Contact
    // /.navbar
    .picture
      .container
        // Contacts
        #contacts
          .row
            // Alignment
            .col-sm-offset-3.col-sm-6
              // Form itself
              form#contactForm.well(name='sentMessage', novalidate='')
                legend Contact me
                .control-group
                  .controls
                    input#name.form-control(type='text', placeholder='Full Name', required='', data-validation-required-message='Please enter your name')
                    p.help-block
                .control-group
                  .controls
                    input#email.form-control(type='email', placeholder='Email', required='', data-validation-required-message='Please enter your email')
                br
                .control-group
                  .controls
                    textarea#message.form-control(rows='10', cols='100', placeholder='Message', required='', data-validation-required-message='Please enter your message', minlength='5', data-validation-minlength-message='Min 5 characters', maxlength='999', style='resize:none')
                #success  
                // For success/fail messages
                br
                button.btn.btn-secondary.pull-right(onclick='myFunction()') Send
                br
                br
    // Footer
    footer#footer
      .footer2
        .container
          .row
            br
          // /row of widgets
      .footer1
        .container
          .row
            .col-md-6.widget
              .widget-body
                p.text-left
                  a(href='index.html') Home
                  |  |
                  a(href='resume.html') Resume
                  |  |
                  a(href='project.html') EECS Projects
                  |  |
                  a(href='project.html') ME Projects
                  |  |
                  a(href='#') Contact
            .col-md-6.widget
              .widget-body
                p.text-right
                  | Copyright © 2016, Maxwell Gerber. Based on Progressus by 
                  a(href='http://gettemplate.com/', rel='designer') gettemplate
          // /row of widgets
    // /Footer
    // JavaScript libs are placed at the end of the document so the pages load faster
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
    script(src='js/headroom.min.js')
    script(src='js/jQuery.headroom.min.js')
    script(src='js/contact.js')
