extends ./layout.jade

block style

block content
  header#head
    .container
      .row
        h1.lead
          b Max Gerber
        h3.tagline resume + portofolio
  // /Header
  // Intro
  .jumbotron.text-center
    h2.thick I am Max Gerber, an EECS and ME student at UC Berkeley
    p.text-muted
      | This is a website I am building to demo my portfolio. Expect it to get cooler over time!
      br
      br
    hr
    h2.thick Here are a few of my recent projects:
  // /Intro
  .top-margin.sides
    .row.featurette
      .col-md-7
        h2.featurette-heading
          | First project goes here. 
          span.text-muted It'll blow your mind.
        p.lead
          | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
      .col-md-5
        img.featurette-image.img-fluid.center-block(src='./images/1.jpg', alt='Generic  image')
    hr.featurette-divider
    .row.featurette
      .col-md-7.col-md-push-5
        h2.featurette-heading
          | Another project right here. 
          span.text-muted See for yourself.
        p.lead
          | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
      .col-md-5.col-md-pull-7
        img.featurette-image.img-fluid.center-block(src='./images/2.jpg', alt='Generic placeholder image')
    hr.featurette-divider
    .row.featurette
      .col-md-7
        h2.featurette-heading And lastly, this one.
        p.lead
          | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
      .col-md-5
        img.featurette-image.img-fluid.center-block(src='./images/1.jpg', alt='Generic placeholder image')
    br

block scripts