extends ./layout.jade

block style
  link(rel='stylesheet', href='css/project.css')

block nav
  li.hightlight2
    a(href='index.html') Home
  li.highlight2
    a(href='resume.html') Resume
  li.highlight2
    a(href='project.html') EECS Projects
  li.highlight2
    a(href='project.html') ME Projects
  li.highlight2
    a(href='contact.html') Contact

block content
  section.jumbotron.text-center
    h1.jumbotron-heading Projects
    p.lead.text-muted These are projecs of a certain type!
  .album.text-muted
    .container
      .row
        a(href='sample.html')
          .card
            img(src='images/1.jpg', alt='Card image cap')
            p.card-text I am a project. Click on me to learn more!
        a(href='sample.html')
          .card
            img(src='images/1.jpg', alt='Card image cap')
            p.card-text I am a project. Click on me to learn more!
        a(href='sample.html')
          .card
            img(src='images/1.jpg', alt='Card image cap')
            p.card-text I am a project. Click on me to learn more!
        a(href='sample.html')
          .card
            img(src='images/1.jpg', alt='Card image cap')
            p.card-text I am a project. Click on me to learn more!
        a(href='sample.html')
          .card
            img(src='images/1.jpg', alt='Card image cap')
            p.card-text I am a project. Click on me to learn more!
        a(href='sample.html')
          .card
            img(src='images/1.jpg', alt='Card image cap')
            p.card-text I am a project. Click on me to learn more!
        a(href='sample.html')
          .card
            img(src='images/1.jpg', alt='Card image cap')
            p.card-text I am a project. Click on me to learn more!
        a(href='sample.html')
          .card
            img(src='images/1.jpg', alt='Card image cap')
            p.card-text I am a project. Click on me to learn more!
        a(href='sample.html')
          .card
            img(src='images/1.jpg', alt='Card image cap')
            p.card-text I am a project. Click on me to learn more!
