extends ./layout.jade

block style

block nav
  li.hightlight2
    a(href='index.html') Home
  li.active
    a(href='#') Resume
  li.highlight2
    a(href='project.html') EECS Projects
  li.highlight2
    a(href='project.html') ME Projects
  li.highlight2
    a(href='contact.html') Contact

block content
  br
  br
  br
  object(data='Resume.pdf', type='application/pdf', width='100%', height='100%')
    embed(src='Resume.pdf', type='application/pdf', width='100%', height='100%')