extends ./layout.jade

block style
  link(rel='stylesheet', href='css/sample.css')

block content
  .picture
    .column-tight
      .container-tight
        h1
          | I am an example project. I have inline latex and maybe pictures later.
        h2
          small There are lots of cool things I can do.
        br
        .text-center(lang='latex')
          | \begin{align*}
          | \sin A \cos B &= \frac{1}{2}\left[ \sin(A-B)+\sin(A+B) \right] \\
          | \sin A \sin B &= \frac{1}{2}\left[ \sin(A-B)-\cos(A+B) \right] \\
          | \cos A \cos B &= \frac{1}{2}\left[ \cos(A-B)+\cos(A+B) \right] \\
          | \end{align*}
        br
        hr(width='60%', size='6', noshade='')
        p
        h3 Lorem ipsum
        i.fa.fa-quote-left.fa-2x.fa-pull-left.fa-border
        | 			dolor sit amet, consectetur adipiscing elit. Donec turpis dolor, tristique a facilisis quis, tincidunt in odio. Proin sed sollicitudin est. Aliquam erat volutpat. Cras ullamcorper vel
        i.fa.fa-quote-right.fa-2x.fa-pull-right.fa-border
        | 			 neque eu semper. Vivamus congue porta sem id consectetur. Nunc non nibh nunc. Fusce ac finibus metus, id bibendum nibh. 
        | 			Fusce quis interdum turpis, ac posuere orci. Nullam eu dapibus orci, in rhoncus velit.
        p
        blockquote
          i.fa.fa-circle-o-notch.fa-pull-left.fa-spin
          | 			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec turpis dolor, tristique a
          | 			facilisis quis, tincidunt in odio. Proin sed sollicitudin est. Aliquam erat volutpat. Cras ullamcorper vel neque eu semper. Vivamus congue porta sem id consectetur. Nunc non nibh nunc. Fusce ac finibus metus, id bibendum nibh. Fusce quis interdum turpis, ac posuere orci. Nullam eu dapibus orci, in rhoncus velit.
        blockquote.blockquote-reverse
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec turpis dolor, tristique a facilisis quis, tincidunt in odio. Proin sed sollicitudin est. Aliquam erat volutpat. Cras ullamcorper vel neque eu semper. Vivamus congue porta sem id consectetur. Nunc non nibh nunc. Fusce ac finibus metus, id bibendum nibh. Fusce quis interdum turpis, ac posuere orci. Nullam eu dapibus orci, in rhoncus velit.
        p
          | Lorem ipsum dolor 
          code sit amet, consectetur 
          | adipiscing elit. Donec turpis dolor, tristique a facilisis quis, tincidunt in odio. Proin sed sollicitudin est. Aliquam erat volutpat. Cras ullamcorper vel neque eu 
          mark semper. Vivamus
          |  congue porta sem id consectetur. Nunc non nibh nunc. Fusce ac finibus metus, id bibendum nibh. Fusce quis interdum turpis, ac posuere orci. Nullam eu dapibus orci, in rhoncus velit.
        pre.
          \nLorem ipsum dolor sit amet, consectetur adipiscing elit. Donec turpis dolor, tristique a facilisis quis, tincidunt in odio. Proin sed sollicitudin est. Aliquam erat volutpat. Cras ullamcorper vel neque eu semper. Vivamus congue porta sem id consectetur. Nunc non nibh nunc. Fusce ac finibus metus, id bibendum nibh. Fusce quis interdum turpis, ac posuere orci. Nullam eu dapibus orci, in rhoncus velit.
          \t\t            